.content{
    padding: 10px 30px;
}

.content__heading{
    text-align: center;
}

.content__container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 50px auto 0px auto;
    justify-content: space-around;
}

.content__container div {
    display: block;
    width: 150px;
}

.destination__label{
    text-align: center;
}

.button__container{
    margin-top: 50px;
    display: flex;
    justify-content: center;    
}

.submit__button{
    font-weight: 500;
    cursor: pointer;
}